.Project-Container{
    width: 95%;
    margin:-1.5rem  auto 0;
    height: 70vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
}
.Project-Head{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    height: 17%;
    
}
.Project-Head-input{
    width: 50%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 10px;
}

.Project-Head-btn:hover{
    background-color: white;
    color:  blue; 
    border: 1px solid blue;
}

.Project-Head-btn{
    cursor: pointer;
    background-color: blue;
    width: 150px;
    height: 37px;
    color: white;
    border-radius: 40px;
    border: 1px solid black;
}

.Project-Main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    width: 85%;
    height: 80%;
    padding: 20px;
    margin-top: 20px;
}
.Project-Main-input{
    width: 92%;
    height: 75%;
    border-radius: 4px;
    border: 1px solid gray;
}
.Project-status{
    position: relative;
    left: 60%;
    bottom: -13%;
}

