.header{
  position: relative;
  z-index: -1;
 height: 6rem; 
 background-color: blue;
 border-bottom-left-radius: 50px;
}
.Logo-oval{
      height: 254px;
      position: absolute;
      top: -13px;
      right: 35%;
      z-index: -1;
}
.Logo-img{
  width: 70px;
    height: 43px;
    position: relative;
    left: 48%;
    top: -7px;
}
.text{
  position: relative;
  top: 22%;
  left: 3%;
  color: #fff;
}
.oval{
  position: relative;
}
.text-para{
 
  display: inline;
  margin: 20px;
}
