.header{
 
 height: 6rem; 
 background-color: blue;
 border-bottom-left-radius: 50px;
}
.Logo-oval{
      height: 254px;
      position: absolute;
      top: -13px;
      right: 35%;
}
.Logo-img{
  width: 70px;
    height: 43px;
    position: relative;
    left: 48%;
    top: -7px;
}
.text{
  position: relative;
  top: 22%;
  left: 3%;
  color: #fff;
}
.oval{
  position: relative;
}
.text-para{
 font-size: larger;
  display: inline;
  margin: 20px;
}
.Logo-logout-icon{
  display: none;
}


@media (max-width: 700px) {
  
.header{ height: 4rem;
    background-color: blue;
    border-bottom-left-radius: 43px;
}
.Logo-img{
  display: none;
}
.exit-icon {
  position: fixed;
  top: 20px;
  right: 20px;
}
.Logo-logout-icon{
  display: block;
  position: absolute;
  right: 19px;
  top: 19px;
}
}
