.Listening-container {
  width: 98%;
  margin: -1.5rem auto 0;
  height: 82vh;
  background-color: #fff;
  border-radius: 12px;
  overflow-y: scroll;
}

.table-for-mobile {
  display: none;
}

.sort-icon {
  display: none;
}


.dot-icon {
  width: 8px;
  height: 8px;
  background-color: grey;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}


#thead {
  background-color: red;
  text-align: left;
}

tbody {
  text-align: left;
  background-color: white;
}

.btns {
  display: flex;
  justify-content: center;
  text-align: center;
}

.btn {
  border-radius: 5px;
  width: 93px;
  height: 22px;
  margin: 8px;
}

.btn:hover {
  background-color: #555;
  color: white;
  cursor: pointer;
}

.td-btn1:active,
.td-btn:active {
  background-color: #555;
  color: white;
  cursor: pointer;
}

.sort-search {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}

.sort-controls {
  display: flex;
  align-items: center;
}

.td-btn1 {
  background-color: blue;
  width: 75px;
  height: 30px;
  border-radius: 15px;
  border: none;
  color: white;
}

.td-btn {
  color: #04539c;
  width: 75px;
  height: 28px;
  border-radius: 15px;
  border: 1px solid #04539c;
  background-color: white;
}

.search-sort-container {
  display: flex;
}

.status {
  color: #312b2b;
  font-weight: 700;
}

.search-input {
  width: 80%;
  margin: 2%;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  padding: 7px 20px;
  transition: border-color 0.3s;
  height: 2.5rem;
  font-size: 17px;
  color: grey;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #eaf8fd;
  ;
  color: #312b2b;
  padding: 10px;
  font-weight: 500;
  border: none;
}

td {
  background-color: white;
  padding: 10px;
  border: none;
  font-size: 15px;
}

tr {
  border: 1px solid #ebdfdf;
}

.pagination {
  text-align: center;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  width: 200px;
}

.page-number {
  cursor: pointer;
  background-color: white;
  color: #999;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .4s ease;
}

.pagi-active {
  font-size: 1.3em;
  height: 35px;
  width: 35px;
  background-color: #0057b3;
  color: white;
}

.pagi-button {
  width: 120px;
  padding: 8px 16px;
  background-color: #ffffff00;
  color: #0057b3;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagi-button:hover {
  color: #0056b3;
}


#prevPage {
  margin-right: 20px;
}

#nextPage {
  margin-left: 20px;
}

.arrow {
  font-size: 1.2em;
}

.nav-text {
  font-size: 0.7em;
  letter-spacing: 0.3em;
}

@media (max-width: 700px) {
  .tbody {
    overflow-x: hidden;
  }

  .table-for-desktop {
    display: none;
  }

  .inv-cred {
    left: 32px;
    bottom: 25px;
    color: red;
    position: absolute;
  }

  .table-for-mobile {
    display: block;
  }

  .sort-icons {
    display: block;
  }

  .Listening-container {
    margin: 6px 4px;
    background-color: transparent;
    border-radius: 12px;
  }

  .search-input {
    padding-left: 15px;
    width: 85%;
    background: #f3f4f5;
  }

  .tr {
    padding: 10px;
    display: flex;
    border: 1px solid #ebdfdf;
    flex-direction: column;
    background-color: white;
  }

  .status {
    position: relative;
    left: 80%;
    bottom: 185px;
  }

  .sort-controls {
    display: none;
  }

  .btns {
    display: none;
  }

  .td {
    padding: 3px;
  }

  .sortPage {
    background-color: #fff;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
  }

  .sortPage-header {
    padding: 1rem;
    color: #312b2b;
    font-size: larger;
    display: flex;
    justify-content: space-between;
  }

  .sortPage-main li {
    list-style-type: none;
    margin: 0 0 40px 0;
  }

  .sortPage-main {

    padding: 1rem;
    border-bottom: 1px solid grey;
    color: #312b2b;
  }

  .sort-icon {
    display: block;
  }

  .td-btns {
    display: flex;
    justify-content: space-around;
  }

}