.Listening-container{
  width: 98%;
  margin:-1.5rem  auto 0;
  height: 63vh;
  background-color: #fff;
  border-radius: 12px;
}
.table-for-mobile{
  display: none;
}

#thead{
  background-color: red;
  text-align: left;
}

tbody{
  text-align:left;
  background-color: white;
}

.btns{
  display: flex;
  justify-content: center;
  text-align: center;
}



.btn{
  border-radius: 5px;
  width: 100px;
  height: 50px;
margin: 20px;
}

.btn:hover {
  background-color: #555; 
  color: white; 
  cursor: pointer;
}

.td-btn1:active,
.td-btn:active {
  background-color: #555; 
  color: white; 
  cursor: pointer;
}

.sort-search{
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}
.sort-controls{
  display: flex;
  align-items: center;
}
.td-btn1{
  margin: 0 18px;
  background-color: blue;
    width: 75px;
    height: 28px;
    border-radius: 15px;
    border: none;
    color: white;
}
.td-btn{
  margin: 0 18px;
  color: blue;
    width: 75px;
    height: 28px;
    border-radius: 15px;
    border: 1px solid blue;
    background-color: white;
}

.search-sort-container{
  display: flex;
}

.status{
  color: #312b2b;
  font-weight: 700;
}

.search-input{  
  width: 25%;
  margin: 2%;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc; 
  padding: 5px;
  transition: border-color 0.3s;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #c2edf9;
  color: #312b2b;
  padding: 10px;
  font-weight: 500;
}

td {
  background-color: white;
  padding: 10px;
  border: none;
  font-size: small;
}
tr{
  border: 1px solid #ebdfdf;
}

@media (max-width: 700px) {
  .tbody{
    overflow-x: scroll;
  }
  .table-for-desktop{
  display: none;
 }
.Listening-container {
  margin: 6px 4px;
  background-color: transparent;
  border-radius: 12px;
}
.search-input {
  width: 50%;
  background: #f3f4f5;
}
.tr{
  padding: 10px;
  display: flex;
  border: 1px solid #ebdfdf;
  flex-direction: column;
  background-color: white;
}

.status {
    position: relative;
    left: 80%;
    bottom: 185px;
}

.td{
  padding: 3px;
}
}