.sidebar {    
    background-color: #fff;
    height: 100vh;  
  }
  .active{
    background-color: white;
    border-left: 5px solid blue;
    border-top: 5px solid white;
    border-right: 5px solid white;
    border-bottom: 5px solid white;
    border-radius: 5px;
  } 
  .sidebar-icons{
      position: relative;
      top: 30%;
  }
  .sidebar-icon {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 40px;
    height: 60px;
    cursor: pointer;
  }
  .exit-icon{
    position: absolute;
    bottom: 20%;
    left: 15px;
  }

  @media (max-width: 700px) {
    .sidebar {    
      
      height: auto; 
    }
    .sidebar-icons{
      padding: 0 2rem;
      position: relative;
      top: 30%;
      display: flex;
      justify-content: space-between;
  }
  .active{
    background-color: white;
    border-left: 5px solid white;
    border-top: 5px solid white;
    border-right: 5px solid white;
    border-bottom: 5px solid blue;
    border-radius: 5px;
  } 
  .exit-icon{
      display: none;
  } 
}