.sidebar {    
    background-color: #fff;
    height: 85vh;  
  }
  .active{
    background-color: white;
    border-left: 5px solid blue;
    border-top: 5px solid white;
    border-right: 5px solid white;
    border-bottom: 5px solid white;
    border-radius: 5px;
  } 
  .sidebar-icons{
      position: relative;
      top: 30%;
  }
  .sidebar-icon {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 40px;
    height: 60px;
    cursor: pointer;
  }
  .exit-icon{
    position: absolute;
    bottom: 20%;
    left: 15px;
  }

  