
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .blue-box{
    position: absolute;
    top: 0;
    width: 100%;
    background-color: blue;
    min-height: 60vh;
    z-index: -1;
    border-bottom-left-radius: 35px;
  }

  .oval-img{
    position: absolute;
    left: 40%;
    bottom: 10%;
  }
  .logo-container{
    display: grid;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .logo-img{
     position: relative;
     right: -26%;
     top: -7px;
  }

  .login-container {
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    height: 370px;
    width: 350px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .login-form h3 {
    color: #7b7474;
    margin: 20px 0;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group-forget-password {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 15px;
  }
  .form-group-forget-input {
    
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
  }
  
  .show-password-button {
    position: relative;
    bottom: 30px;
    left: 135px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: #6b72ad;
    
  }
  
  .forgot-password {
    color: #0525cb;
    cursor: pointer;
    font-size: 14px;
  }
  
  label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
  }
  
  input[type="text"] + label,
  input[type="password"] + label {
    display: inline-block;
    margin-bottom: 0;
    color: #777; 
  }
  .form-group-password-input{
    position: relative;
    
  }


  .login-button{
    width: 60%;
    height: 30px;
    border-radius: 25px;
    background-color: #007bff;
    color: #fff;
    border: 1px solid black;
    cursor: pointer;
  }
  .inv-cred{
    position: absolute;
    bottom: 100px;
    color: red;
  }

  .OvalIcon{
    position: absolute;
    top: -20%;
    left: 33%;
  }

  .logo{
    position: relative;
    color: white;
    top: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error-text {
  color: red;
  display: flex;
  justify-content: flex-start; 
}


.form-group input:invalid {
  border: 1px solid red;
  
}

@media (max-width: 700px) {
  
  .login-form {
      width: 76%;   
  }
  .blue-box {
  width: 100vw;
    background-color: blue;
    z-index: -1;
    border-bottom-left-radius: 35px;
}
.logo{
  top: 35px;
}
.logo img{
  width: 45px;
    height: 55px;
}
.logo p{
  font-size: small;
  
}
.OvalIcon {
  position: relative;
  max-width: 0%;
}

.login-container {
  height: 70vh;
 position: relative;
 top: 100px;
}
  .show-password-button {
      position: relative;
      bottom: 30px;
      left: 100px;
  }
}

@media (min-width: 700px) and (max-width: 930px) {
  .blue-box {
    width: 100vw;
      background-color: blue;
      z-index: -1;
      border-bottom-left-radius: 35px;
  }
  .OvalIcon {
    position: relative;
    top: -100px;
    max-width: 67%;
  }
  .logo{
    position: absolute;
    top: 27px;
    right: 309px;
  }
  .login-form{
    width: 75%;
    height: 59%;
}
.show-password-button {
  position: relative;
  bottom: 30px;
  left: 272px;
}
  }
